body {
  font-family: 'Josefin Sans', sans-serif;
}
header {
  width: 100%;
  height: 75px;
  background-color: gray;
}
header img {
  margin: 10px 5% 0 7%;
}
header a {
  margin-right: 2%;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
#slide {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 34px;
  padding: 12px;
  background-color: lightgray;
  position: absolute;
  left: 15%;
  opacity: 0.7;
}
#first_part {
  width: 630px;
  top: 290px;
  font-size: 34px;
  padding: 12px;
  background-color: lightgray;
  position: absolute;
  left: 15%;
  opacity: 0.7;
}
#second_part {
  width: 410px;
  top: 350px;
  font-size: 34px;
  padding: 12px;
  background-color: lightgray;
  position: absolute;
  left: 15%;
  opacity: 0.7;
}
#arrow_left {
  position: absolute;
  top: 310px;
  left: 100px;
}
#arrow_right {
  position: absolute;
  top: 310px;
  right: 100px;
}
#arrow_left:hover,
#arrow_right:hover {
  opacity: 0.5;
}
#circles {
  position: absolute;
  top: 600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
#links {
  display: flex;
  margin: 0 7%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link {
  width: 300px;
  background-color: #F0F0F0 ;
  padding: 40px 0;
}
.link img {
  float: left;
  margin-right: 30px;
  padding-bottom: 20px;
}
.link h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.link p {
  font-size: 14px;
}
.titles {
  font-size: 30px;
  text-align: center;
  margin: 80px 0 50px 0;
}
#about_us_p {
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
#read_our_story {
  text-align: center;
  display: block;
  padding: 100px 0;
  border-bottom: 1px solid #E0E0E0;
  color: black;
}
input,
textarea {
  display: block;
  padding: 15px;
  width: 30%;
  border: none;
  background-color: #E8E8E8;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}
textarea {
  height: 150px;
}
#button {
  display: block;
  padding: 15px;
  width: 30%;
  background-color: gray;
  color: white;
  margin: 0 auto 20px auto;
  font-size: 22px;
  text-align: center;
  border-radius: 5px;
}
footer {
  background-color: #F8F8F8;
  border-top: 1px solid #E0E0E0;
  margin-top: 150px;
  padding: 60px 0;
  text-align: center;
}
#footer_pic,
#footer_p {
  margin-top: 30px;
}
@media screen and (max-width: 1200px) {
  #first_part,
  #second_part {
    left: 0;
    right: 0;
    font-size: 25px;
    margin: 0 auto;
  }
  #first_part {
    width: 430px;
  }
  #second_part {
    width: 280px;
  }
  #circles {
    top: 500px;
  }
}
@media screen and (min-width: 1390px) {
  #links {
    margin: 0 15%;
  }
}
@media screen and (min-width: 1700px) {
  #links {
    margin: 0 20%;
  }
}
@media screen and (max-width: 850px) {
  #first_part {
    top: 140px;
  }
  #second_part {
    top: 200px;
  }
  #circles {
    top: 400px;
  }
  input,
  textarea,
  #button {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  #arrow_right,
  #arrow_left,
  #circles {
    display: none;
  }
  #links {
    justify-content: center;
  }
  .link {
    padding: 20px 0;
    margin-top: 10px;
    width: 350px;
  }
  .titles {
    margin: 40px 0 30px 0;
  }
  #read_our_story {
    padding: 30px 0;
  }
  footer {
    margin-top: 30px;
    padding: 30px 0;
  }
  #footer_pic,
  #footer_p {
    margin-top: 15px;
  }
}
@media screen and (max-width: 480px) {
  #first_part {
    width: 340px;
    font-size: 20px;
  }
  #second_part {
    width: 225px;
    font-size: 20px;
  }
  input,
  textarea,
  #button {
    width: 70%;
  }
}
@media screen and (max-width: 350px) {
  #first_part {
    width: 300px;
    font-size: 17px;
  }
  #second_part {
    width: 190px;
    font-size: 17px;
  }
  header a {
    font-size: 17px;
  }
}
